
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
    background-color: #333;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
}

nav ul {
    list-style-type: none;
}
   
nav ul a {
    text-decoration: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: #996600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

p {
	font-family: Courier New;
	font-size: 25px;
}

h1 {
	font-family: Times New Roman;
	font-size: 45px;
	font-weight: bold;
}
header, footer{
	background-image: url(http://www.potterheadsanonymous.com/images/HogwartsCrests4.jpg);
   background-repeat: no-repeat;
   background-size: 40% 50% ;
   background-attachment: fixed;
   background-position: top, center;
   padding: 1.0em;
	text-align: center;
	font-size: 30px;
	color: white;
}
body{
	background-size:100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center;
}